<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container" ng-controller="ListingsController">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" >
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!-- 

                Implement a way to filter through listings using the search bar 

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="filter_1">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
				<thead>
				  <tr>
					<th>Code</th>
					<th>Building Name</th>
					<th>Remove Listing</th>
				  </tr>
					
				</thead>
              <!-- 

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings

                --> 
				<tbody >
					<tr ng-click="showDetails($index)" ng-repeat = "entry in listings | filter:filter_1" > 
						<td>
							{{entry.code}}
						</td>
						<td>
							{{entry.name}} 
					
						</td>
						
						<td>
							<button type="button" class="btn btn-danger" ng-click="deleteListing($index)" > X </button>
						</td>
					</tr>
				</tbody>
            </table>
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            
			-->

			

			
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Detailed Information</h2>
            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
			<h3 ng-show="detailedInfo.code">[{{detailedInfo.code}}] {{detailedInfo.name}}  </h3>
			<div class="tableWrapper">
				<table class="table table-striped table-hover">
					<thead>
					<tr>
						<th> Coordinates </th>
						<th> Address </th>
		
					</tr>
					</thead>
				<tbody>
					<tr>
						<td>
							<div>
								{{detailedInfo.coordinates.latitude}}
							</div>
							<div>
								{{detailedInfo.coordinates.longitude}}
							</div>
						</td>
						<td>
							{{detailedInfo.address}}
						</td>
					</tr>
				</tbody>
				</table>
			</div>
          </div>
        </div>
		<div class="row">
			<div class="col-md-6">
					<button ng-show="!showForm" type="button" class="btn btn-primary " ng-click = "showForm = 1" > New Entry +</button>
			<div ng-show="showForm" class="panel-group">
			<div class="panel panel-primary">
			  <div class="panel-heading">New Entry</div>
			  <div class="panel-body form1">
				<form class="form-horizontal" role="form" name="entryForm" novalidate ng-show="showForm">
				  <div class="form-group">
					
					<div class="col-sm-10">
					  <input type="input" ng-model= "newEntry.name" class="form-control" id="bn" placeholder="Enter building name">
					</div>
				  </div>
				  
				  <div class="form-group">
					
					<div class="col-sm-10">
					  <input type="input" ng-model="newEntry.code" class="form-control" id="bc" placeholder="Enter building code">
					</div>;
				  </div>
				  
				  <div class="form-group">
					
					<div class="col-sm-10">
					  <input type="input" ng-model="newEntry.coordinates.latitude" class="form-control" id="bcoord" placeholder="Enter latitude">
					</div>
				  </div>
				  <div class="form-group">
					
					<div class="col-sm-10">
					  <input type="input" ng-model="newEntry.coordinates.longitude" class="form-control" id="bcoord" placeholder="Enter longitude">
					</div>
				  </div>				  
				  <div class="form-group">
					
					<div class="col-sm-10">
					  <input type="input" class="form-control" ng-model="newEntry.address" id="baddr" placeholder="Enter building address">
					</div>
				  </div>
				  
				  <div class="form-group"> 
					<div class="col-sm-offset-2 col-sm-10">
					  <button type="submit" class="btn btn-default" ng-click="addListing()">Add Entry</button>
					</div>
				  </div>
				</form>
			  </div>
			</div>

			</div>
			</div>
		</div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>